<div class="row">
  <div class="col-xs-12">
    <p>Add new server</p>
    <label>Server name</label>
    <input type="text" class="form-control">
    <label>bluePrint Name</label>
    <input type="text" class="form-control">
    <br>
    <button (click)="onServerAdded()" class="btn btn-primary">Add Server</button>
    <button class="btn btn-primary">Add blueprint</button>
    <p [hidden]="!isServerAdded"> server was added</p>
    <p [hidden]="isServerAdded">Server is not added yet</p>
  </div>
</div>