<div class="row">
  <div class="col-xs-12">
    <p>Add new server</p>
    <label>Server name</label>
    <!-- Added local ref(#serverName) to template -->
    <input 
      class="form-control"
      #serverNameInput>
      {{serverNameInput.value}}

    <label>bluePrint Name</label>
    

    <!-- Using @viewChild Decorator  -->
    <input 
      type="text" 
      class="form-control"
      #serverContentInput>
      {{serverContent.nativeElement.value}}

    <br>
    <button
      class="btn btn-primary"
      (click)="onServerAdded(serverNameInput)" >Add Server</button>

    <p [hidden]="!isServerAdded"> server was added</p>
    <p [hidden]="isServerAdded">Server is not added yet</p>
  </div>
</div>